.bottom{
    background-color: rgb(51, 51, 51);
    margin-top: 20px;
    height: 650px;
}
tr,table{
    height: 40px;
    width: 100%;
}
td{
    padding-left: 10px;
    text-align: center;
}
thead{
    font-style: bold;
    background-color: #ffa500;
    color: white;
    border: 2px solid #ffa500;

}

table,td,th{
    color: white;
    border: 2px solid #ffa500;
    border-collapse: collapse;
}
