<header>
    <div class="logo">
        <a href="">Ecommerce</a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="admin/dashboard">Dashboard</a></li>
            <li><a href="admin/category">Category</a></li>
            <li><a href="admin/product">Product</a></li>
            <li><a href="admin/orders">Orders</a></li>
            <li><a href="admin/add-coupon">Add Coupon</a></li>
            <li><a href="admin/coupons">Coupons</a></li>
        </ul>
    </nav>
    <div class="search-bar">
        <input type="text" placeholder="Search for products...">
        <button type="submit">Search</button>
    </div>
    <div class="icons">
        <a (click)="logout()" class="login">LogOut</a>
    </div>
</header>
