header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #444;;
}

.logo a {
    text-decoration: none;
    color: #e69500;
    font-size: 24px;
    font-weight: bold;
}

nav {
    flex-grow: 1;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ffa500;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #ffa500;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.search-bar button:hover {
    background-color: #e69500;
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    position: relative;
}

.icons a:hover {
    color: #ffa500;
}

.register::before,
.login::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}
@media (max-width: 650px){
    nav {
        display: none;
    }

    .search-bar {
        display: none;
    }
}
@media (max-width:1000px){
    nav {
        display: none;
    }
}