<header>
    <div class="logo">
        <a href="">Ecommerce</a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/customer/dashboard">Dashboard</a></li>
            <li><a href="/customer/cart">Cart</a></li>
            <li><a href="/customer/orders">Orders</a></li>
            <li><a href="/customer/profile">Profile</a></li>
        </ul>
    </nav>
    <div class="search-bar">
        <input type="text" placeholder="Search for products...">
        <button type="submit">Search</button>
    </div>
    <div class="icons">
        <a (click)="logout()" class="login">LogOut</a>
    </div>
</header>
