<div class="container">
    <div class="profile-pic">
        <img src="dress1.png" alt="Profile Pic">
    </div>
    <div class="profile-info">
        <p>First Name : Abdul</p>
        <p>Last Name : Majide</p>
        <p>Email : majidkhobargmail.com</p>
        <p>Mobile : 7306520412</p>
    </div>
    <div class="other">
        <ul>
            <li><a href="">Orders</a></li>
            <li><a href="">Cart</a></li>
            <li><a href="">Wishlist</a></li>
        </ul>
    </div>
</div>