<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p class="text-blk heading">
          About Us
        </p>
        <p class="text-blk subHeading">
            Welcome to Ecommerce, where fashion meets passion! We are an innovative and customer-centric online clothing store dedicated to providing you with the latest trends and timeless classics. Our mission is to empower you to express your unique style with confidence and ease.
        </p>
        <p class="text-blk heading">
            Our Story
          </p>
        <p class="text-blk subHeading">
            Founded in 2024, Ecommerce was born from a love for fashion and a vision to make stylish, high-quality clothing accessible to everyone. We believe that what you wear is a powerful form of self-expression, and our carefully curated collections are designed to help you tell your story. Whether you're dressing for a special occasion, updating your wardrobe essentials, or exploring new trends, we have something for every moment and mood. </p>
        <p class="text-blk heading">
            Our Collections
        </p>
        <p class="text-blk subHeading">
            At Ecommerce, we offer a diverse range of clothing for all genders and ages. Our collections include:
        </p>
            <ul class="colllist">
                <li>Women's Fashion: From elegant dresses and chic tops to versatile pants and cozy loungewear.</li>
                <li>Men's Fashion: Sharp suits, casual wear, and everything in between.</li>
                <li>Kids' Fashion: Adorable and durable clothing for your little ones.</li>
                <li>Accessories: The perfect finishing touches to elevate any outfit.</li>
            </ul>
        <p>We are committed to quality and sustainability, ensuring that each piece is made with care and designed to last.</p>
      </div>
      <div class="responsive-container-block rightSide">
        <img class="number1img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET32.jpg">
        <img class="number2img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d14.png">
        <img class="number3img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b245.png">
        <img class="number5img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png">
        <img class="number4img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d12.png">
        <img class="number7img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d51.png">
        <img class="number6img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d12.png">
      </div>
    </div>
</div>