<div class="dashboard">
    <div class="product-grid">
        <div class="product" *ngFor="let product of products">
            <div class="img">
                <img [src]="product.decodedImg" alt="Product 1">
            </div>
            <h2>{{product.name}}</h2>
            <p class="description">{{product.description}}</p>
            <div class="product-details">
                <span class="price">RS. {{product.price}}</span>
                <span class="company">{{product.name}}</span>
            </div>
            <div class="product-buttons">
                <button (click)="productFAQ()">FAQ</button>
                <button (click)="updateProduct()">Update</button>
                <button (click)="deleteProduct()">Delete</button>
            </div>
        </div>
    </div>
</div>