<div class="container">
    <div class="text-center">
        <h1 style="color: #ffa500;">Contact Us</h1>
        <div>
            If you need help with an order, have a question about our products, or need any assistance, please reach out to our customer support team. We are available Monday-Friday from 9 AM to 6 PM (IST).
        </div>
    </div>
    <div class="content">
        <div class="col-1">
            <div class="address-line">
                <img alt="location" src="image/marker.png" class="icon">
                <div class="contact-info">
                    <div class="contact-info-title">Address</div>
                    <div>Jayanagar 6th Block,</div>
                    <div>Bangalore, Karnataka</div>
                    <div>55060.</div>
                </div>
            </div>
            <div class="address-line">
                <img alt="location" src="image/phone.png" class="icon">
                <div class="contact-info">
                    <div class="contact-info-title">Phone</div>
                    <div>+91 9578459632</div>
                    <div>+91 7584693256</div>
                </div>
            </div>
            <div class="address-line">
                <img alt="location" src="image/mail.png" class="icon">
                <div class="contact-info">
                    <div class="contact-info-title">Email</div>
                    <div>contactemail&#64;gmail.com</div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <form>
                <div class="form-container">
                    <h2>Send Message</h2>
                    <div class="form-row">
                        <label>Full Name</label>
                        <div>
                            <input type="text" class="form-field">
                        </div>
                    </div>
                    <div class="form-row">
                        <label>Email</label>
                        <div>
                            <input type="text" class="form-field">
                        </div>
                    </div>
                    <div class="form-row">
                        <label>Type your message...</label>
                        <div>
                            <input type="text" class="form-field">
                        </div>
                    </div>
                    <input type="button" class="send-btn" value="Send">
                </div>
            </form>
        </div>
    </div>
</div>